.input {
  @apply w-full;

  &__label {
    @apply text-base mb-2;
  }

  &__field {
    @apply text-sm px-2 rounded-lg outline-none w-full h-10;

    &.error {
      @apply border-red;
    }

    &__tel {
      @apply bg-white;
    }
  }

  &__boundary {
    @apply rounded overflow-hidden;

    select,
    input {
      &::-webkit-credentials-auto-fill-button {
        visibility: hidden;
        display: none;
      }

      &::-webkit-credentials-auto-fill-icon,
      &::-webkit-credentials-auto-fill-icon:active {
        @apply hidden;
      }

      @apply border border-grey-150 min-h-[32px];
    }

    textarea {
      @apply border border-gray-300 min-h-[145px];
    }

    > div {
      @apply w-full;
    }
  }

  &__expend {
    @apply w-5 h-5 absolute right-2 top-1/2 transform -translate-y-1/2 pointer-events-none;
  }

  select {
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;

    @apply pr-10 bg-transparent;
  }

  &__textarea {
    @apply w-full h-full;
  }

  &__error {
    @apply mt-1 text-red text-sm;
  }
}
