@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .container {
    @apply max-w-[1440px] w-full;
  }
  .page-container {
    @apply bg-gray-100 py-10;
    @apply md:mx-10;
    @apply lg:mx-20 lg:my-10;
  }
}

html {
  overflow-x: hidden;
}

body {
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;

  @apply font-normal font-source-san text-[14px] text-black-50 overflow-x-hidden leading-[1.25];
}
